<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../css/event-card.css">
  <script src="https://kit.fontawesome.com/f92a28e63e.js" crossorigin="anonymous"></script>
  <title>Document</title>
</head>

<body>
  <div class="event-card">
    <h4 class="ev-time">Mon, DEC 9, 6:30 PM</h4>
    <h3 class="ev-title">Meet up with locals and learn the Vietnamese...</h3>
    <span class="ev-groupname">Saigon Language & Culture Meetup</span>
    <span class="ev-place"><i class="fas fa-map-marker-alt"></i>Coffe Talk English</span>
    <span class="ev-attendee">5 attendees</span>
    <div class="btn-attend">Attend</div>
  </div>
</body>

</html>
