<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../css/category.css">
  <title>Category</title>
</head>
<body>
  <div class="category">
    <ul>
      <li>Join a movement</li>
      <li>Learn to cook</li>
      <li>Train for a marathon</li>
      <li>Build a mobile app</li>
      <li>Hike a moutain</li>
      <li>Practice language</li>
    </ul>
  </div>
</body>
</html>
