<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../css/intro.css">
  <title>Document</title>
</head>
<body>
  <div class="intro">
    <video src="../media/header-video.mp4" autoplay loop>
    </video>
    <div class="intro-content">
      <h1>The real world is calling</h1>
      <p>Join a local group to meet people, try something new, or do more of what you love.</p>
      <div class="btn-join">Join Meetup</div>
    </div>
  </div>

</body>
</html>
